<!DOCTYPE html>
<html lang="en">
<head>
<title>The Happening</title>
<meta charset="utf-8">
<link href="/stylesheets/reset.css" rel="stylesheet" type="text/css" media="all"/>
<link href="/stylesheets/layout.css" rel="stylesheet" type="text/css" media="all"/>
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all"/>
<script src="js/jquery-1.6.js" ></script>
<script src="js/cufon-yui.js"></script>
<script src="js/cufon-replace.js"></script>
<script src="js/NewsGoth_BT_400.font.js"></script>
<script src="js/NewsGoth_BT_700.font.js"></script>
<script src="js/jcarousellite.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.mousewheel.js"></script>
<script src="js/atooltip.jquery.js"></script>
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<link rel="stylesheet" href="css/ie.css" type="text/css" media="all">
<![endif]-->
</head>
<body id="page1">
<div class="bg1">
  <div class="main">
    <!--header -->
    <header>
      <nav>
        <ul id="menu">
          <li><a href="/home">Home</a></li>
          <li><a href="/happening">Happening Places</a></li>
          <li><a href="/developers">Developers</a></li>
          <li><a href="/poweredBy">Powered By</a></li>
        </ul>
      </nav>
      <h1><a href="/home" id="logo">Happening feel the best</a></h1>
    </header>
    <!--header end-->
    <div class="box">
        <article id="content">
	        <div class="wrapper">
	          <h2 style="text-align:center">Check out more about: <%=businessData.name%></h2>
	          
	          	<br/>
	          		<%
	          		var url = businessData.image_url.replace("ms.jpg","l.jpg");
	          		console.log(url);
	          		%>
	          	   <div id="businessDetails">
		           <p><img src="<%=url%>"/></p>
		           <p><h2 style="padding:0px;font-style:italic"><%=businessData.name%></h2>
		           	  <div><img src="<%=businessData.rating_img_url_large%>"/></div>
		           	  Review Count: <%= businessData.review_count%></p>
		           	  <p>Address:
		           	  <%
		           	  	if(businessData.location.display_address.length>0){
		           	  		for(var i=0; i<businessData.location.display_address.length;i++){
		           	  %>
		            <%=businessData.location.display_address[i]%>
		            <%}}%>
		            </p>
		           <p>Phone Number: <%=businessData.display_phone%></p>
		           <p>Snippet: <%=businessData.snippet_text%></p>
		           <p>For more details click <a href="<%=businessData.url%>">here</a></p>
		           </div>
	        </div>
      	</article>
    </div>
  </div>
</div>
<script>
$(document).ready(function () {
    //gallery
    $("#gallery1").jCarouselLite({
        btnNext: ".next",
        btnPrev: ".prev",
        mouseWheel: true,
        vertical: true,
        circular: true,
        visible: 2,
        speed: 600,
        easing: 'easeOutCirc'
    });
    Cufon.now();
})
</script>
<div align=center>Developed By Spring 2014 Software Engineering Students</div></body>
</html>
