<!doctype html>
<html>
	<head>
	<title>The Happening - Graphical Analytics</title>
	<meta charset="utf-8">
		<script src="/Chart.js"></script>
		<script src="/legend.js"></script>
		<meta name = "viewport" content = "initial-scale = 1, user-scalable = no">
		<style>
			canvas{
			}
		</style>

		<link href="/stylesheets/reset.css" rel="stylesheet" type="text/css" media="all"/>
		<link href="/stylesheets/layout.css" rel="stylesheet" type="text/css" media="all"/>
		<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all"/>
		<script src="js/jquery-1.6.js" ></script>
		<script src="js/cufon-yui.js"></script>
		<script src="js/cufon-replace.js"></script>
		<script src="js/NewsGoth_BT_400.font.js"></script>
		<script src="js/NewsGoth_BT_700.font.js"></script>
		<script src="js/jcarousellite.js"></script>
		<script src="js/jquery.easing.1.3.js"></script>
		<script src="js/jquery.mousewheel.js"></script>
		<script src="js/atooltip.jquery.js"></script>
		<!--[if lt IE 9]>
		<script src="js/html5.js"></script>
		<link rel="stylesheet" href="css/ie.css" type="text/css" media="all">
		<![endif]-->
	</head>
	<body>
	
	<div class="bg1">
	  <div class="main">
	    <!--header -->
	    <header>
	      <nav>
	        <ul id="menu">
	          <li><a href="/home">Home</a></li>
	          <li><a href="/happening">Happening Places</a></li>
	          <li><a href="/developers">Developers</a></li>
	          <li><a href="/poweredBy">Powered By</a></li>
	        </ul>
	      </nav>
	      <h1><a href="/home" id="logo">Happening feel the best</a></h1>
	    </header>
	    <!--header end-->
	    </div>
	 </div>
	 
	<div class="box" height="300" width="400" align="center">
	<div>
	<h2> Review Share </h2>
	<canvas id="canvas2" height="500" width="400"></canvas>


	<script>

		var doughnutData = [
				{
					value: <%=happeningData[0].review_count%>,
					color:"red"
				},
				{
					value : <%=happeningData[1].review_count%>,
					color : "blue"
				},
				{
					value : <%=happeningData[2].review_count%>,
					color : "green"
				},
				{
					value : <%=happeningData[3].review_count%>,
					color : "yellow"
				},
				{
					value : <%=happeningData[4].review_count%>,
					color : "gold"
				},
				{
					value: <%=happeningData[5].review_count%>,
					color:"orange"
				},
				{
					value : <%=happeningData[6].review_count%>,
					color : "pink"
				},
				{
					value : <%=happeningData[7].review_count%>,
					color : "violet"
				},
				{
					value : <%=happeningData[8].review_count%>,
					color : "maroon"
				},
				{
					value : <%=happeningData[9].review_count%>,
					color : "turquoise"
				},
				{
					value: <%=happeningData[10].review_count%>,
					color:"grey"
				},
				{
					value : <%=happeningData[11].review_count%>,
					color : "indigo"
				},
				{
					value : <%=happeningData[12].review_count%>,
					color : "#BDFCC9"
				},
				{
					value : <%=happeningData[13].review_count%>,
					color : "lawngreen"
				},
				{
					value : <%=happeningData[14].review_count%>,
					color : "#808000"
				},
				{
					value: <%=happeningData[15].review_count%>,
					color:"#DAA520"
				},
				{
					value : <%=happeningData[16].review_count%>,
					color : "#8B8878"
				},
				{
					value : <%=happeningData[17].review_count%>,
					color : "mistyrose"
				},
				{
					value : <%=happeningData[18].review_count%>,
					color : "black"
				},
				{
					value : <%=happeningData[19].review_count%>,
					color : "indianred"
				}
			
			];
		
	var myDoughnut = new Chart(document.getElementById("canvas2").getContext("2d")).Doughnut(doughnutData);
	
	</script>
	<div>
	<table style="border:1;border-color:#FFFFFF"><tr><td>
	<input type="text" style="background-color:red;width:20px;"/></td><td><%=happeningData[0].name%></td></tr>
	<tr><td>
	<input type="text" style="background-color:blue;width:20px;"/></td><td><%=happeningData[1].name%></td></tr>
	<tr><td>
	<input type="text" style="background-color:green;width:20px;"/></td><td><%=happeningData[2].name%></td></tr>
	<tr><td>
	<input type="text" style="background-color:yellow;width:20px;"/></td><td><%=happeningData[3].name%></td></tr>
	<tr><td>
	<input type="text" style="background-color:gold;width:20px;"/></td><td><%=happeningData[4].name%></td></tr>
	<tr><td>
	<input type="text" style="background-color:orange;width:20px;"/></td><td><%=happeningData[5].name%></td></tr>
	<tr><td>
	<input type="text" style="background-color:pink;width:20px;"/></td><td><%=happeningData[6].name%></td></tr>
	<tr><td>
	<input type="text" style="background-color:violet;width:20px;"/></td><td><%=happeningData[7].name%></td></tr>
	<tr><td>
	<input type="text" style="background-color:maroon;width:20px;"/></td><td><%=happeningData[8].name%></td></tr>
	<tr><td>
	<input type="text" style="background-color:turquoise;width:20px;"/></td><td><%=happeningData[9].name%></td></tr>
	<tr><td>
	<input type="text" style="background-color:grey;width:20px;"/></td><td><%=happeningData[10].name%></td></tr>
	<tr><td>
	<input type="text" style="background-color:indigo;width:20px;"/></td><td><%=happeningData[11].name%></td></tr>
	<tr><td>
	<input type="text" style="background-color:#BDFCC9;width:20px;"/></td><td><%=happeningData[12].name%></td></tr>
	<tr><td>
	<input type="text" style="background-color:lawngreen;width:20px;"/></td><td><%=happeningData[13].name%></td></tr>
	<tr><td>
	<input type="text" style="background-color:#808000;width:20px;"/></td><td><%=happeningData[14].name%></td></tr>
	<tr><td>
	<input type="text" style="background-color:#DAA520;width:20px;"/></td><td><%=happeningData[15].name%></td></tr>
	<tr><td>
	<input type="text" style="background-color:#8B8878;width:20px;"/></td><td><%=happeningData[16].name%></td></tr>
	<tr><td>
	<input type="text" style="background-color:mistyrose;width:20px;"/></td><td><%=happeningData[17].name%></td></tr>
	<tr><td>
	<input type="text" style="background-color:black;width:20px;"/></td><td><%=happeningData[18].name%></td></tr>
	<tr><td>
	<input type="text" style="background-color:indianred;width:20px;"/></td><td><%=happeningData[19].name%></td></tr>
	</table>
	</div>
	</div>
  </div>
  <div align=center>Developed By Spring 2014 Software Engineering Students</div>
	</body>
</html>